html, body {
    height: 100%;
    margin: 0;
}

body {
    align-items: center;
    display: flex;
    font-family: "Oswald", sans-serif;
    justify-content: center;
}

.darkImage {
    display: none;
}

.mainBanner {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 528px;
    padding: 20px;
    width: 100%;
}

[data-theme="dark"] {
    background-color: #333;
    color: #fff;
}

[data-theme="dark"] .darkImage {
    background-color: #444;
    display: block;
}

[data-theme="dark"] .lightImage {
    display: none;
}